@font-face {
    font-family: 'bloodFont';
    src: url("./fuentes/Fleshandblood-MVA5x.ttf");
  }

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'bloodFont';
  }

  #mainTheme{
    display: none;
}

.backVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .art-content {
    color: white;
    width: 100%;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.815);
    text-align: center; 
    padding: 40px 60px 60px;
    z-index: 1;
  }
  
  .art-content h3 {
    font-size: 30px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .info {
    margin: 15px ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 05s;
  }

.button-field {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.button-field button {
  flex-basis: 48%;
  height: 38px;
  font-size: 16px;
  background-color: gray;
  border: 0;
  outline: 0;
  cursor: pointer;
}