body {
    background-image: url(R.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo{
    color: white;
    font-size: 100px;
    text-align: center;
}

.container p {
    color: white;
    text-align: center;
    
}

#mainTheme{
    display: none;
}

.container a:link {
    color: white;
    text-decoration: none;
}
.container a:visited {
    color: white;
}
.container a:hover {
    
    background-color: rgba(218, 165, 32, 0.384);
}
