@font-face {
    font-family: 'bloodFont';
    src: url("./fuentes/Fleshandblood-MVA5x.ttf");
  }

body{
    background-image: url(./imagen/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#titulo{
    color: white;
    font-family: 'bloodFont';
    font-size: 150px;
    text-align: center;
}

.container p {
    color: white;
    font-family: 'bloodFont';
    font-size: 30px;
    text-align: center;
    
}

#mainTheme{
    display: none;
}

.container a:link {
    color: white;
    text-decoration: none;
}
.container a:visited {
    color: white;
}
@keyframes selector {
    from {background-color: rgba(218, 32, 32, 0.096);}
    to {background-color: rgba(218, 32, 32, 0.815);}
}

.container a:hover {
    animation-name: selector;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: rgba(218, 165, 32, 0.384);
}
